# Incremental Loading

In [0]:
CREATE DATABASE sales;

In [0]:


/* ================================
   STEP 3: CREATE ORDERS TABLE
   (Denormalized OLTP Source Table)
   ================================ */

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    OrderDate DATE,
    CustomerID INT,
    CustomerName VARCHAR(100),
    CustomerEmail VARCHAR(100),
    ProductID INT,
    ProductName VARCHAR(100),
    ProductCategory VARCHAR(50),
    RegionID INT,
    RegionName VARCHAR(50),
    Country VARCHAR(50),
    Quantity INT,
    UnitPrice DECIMAL(10,2),
    TotalAmount DECIMAL(12,2)
);


/* ================================
   STEP 4: INSERT SAMPLE DATA
   ================================ */

INSERT INTO sales.Orders (
    OrderID, OrderDate, CustomerID, CustomerName, CustomerEmail,
    ProductID, ProductName, ProductCategory,
    RegionID, RegionName, Country,
    Quantity, UnitPrice, TotalAmount
)
VALUES
(1, '2024-02-01', 101, 'Alice Johnson', 'alice@example.com',
 201, 'Laptop', 'Electronics',
 301, 'North America', 'USA',
 2, 800.00, 1600.00),

(2, '2024-02-02', 102, 'Bob Smith', 'bob@example.com',
 202, 'Smartphone', 'Electronics',
 302, 'Europe', 'Germany',
 1, 500.00, 500.00),

(3, '2024-02-03', 103, 'Charlie Brown', 'charlie@example.com',
 203, 'Tablet', 'Electronics',
 303, 'Asia', 'India',
 3, 300.00, 900.00),

(4, '2024-02-04', 101, 'Alice Johnson', 'alice@example.com',
 204, 'Headphones', 'Accessories',
 301, 'North America', 'USA',
 1, 150.00, 150.00),

(5, '2024-02-05', 104, 'David Lee', 'david@example.com',
 205, 'Gaming Console', 'Electronics',
 302, 'Europe', 'France',
 1, 400.00, 400.00),

(6, '2024-02-06', 102, 'Bob Smith', 'bob@example.com',
 206, 'Smartwatch', 'Electronics',
 303, 'Asia', 'Japan',
 2, 250.00, 500.00),

(7, '2024-02-07', 105, 'Emma Wilson', 'emma@example.com',
 207, 'Keyboard', 'Accessories',
 301, 'North America', 'Canada',
 2, 120.00, 240.00),

(8, '2024-02-08', 106, 'Frank Miller', 'frank@example.com',
 208, 'Monitor', 'Electronics',
 302, 'Europe', 'UK',
 1, 300.00, 300.00),

(9, '2024-02-09', 107, 'Grace Taylor', 'grace@example.com',
 209, 'Mouse', 'Accessories',
 303, 'Asia', 'Singapore',
 3, 80.00, 240.00),

(10, '2024-02-10', 108, 'Henry Adams', 'henry@example.com',
 210, 'Printer', 'Electronics',
 301, 'North America', 'USA',
 1, 350.00, 350.00);


/* ================================
   STEP 5: VERIFY DATA
   ================================ */

SELECT * FROM Orders;

In [0]:
INSERT INTO sales.Orders (
    OrderID, OrderDate, CustomerID, CustomerName, CustomerEmail,
    ProductID, ProductName, ProductCategory,
    RegionID, RegionName, Country,
    Quantity, UnitPrice, TotalAmount
)
VALUES
(11, '2024-02-11', 108, 'Hannah Green', 'hannah@example.com',
 210, 'Wireless Earbuds', 'Accessories',
 302, 'Europe', 'Spain',
 2, 120.00, 240.00),

(12, '2024-02-12', 109, 'Ian Black', 'ian@example.com',
 201, 'Laptop', 'Electronics',
 303, 'Asia', 'India',
 1, 800.00, 800.00),

(13, '2024-02-13', 105, 'Eve Adams', 'eve@example.com',
 202, 'Smartphone', 'Electronics',
 301, 'North America', 'Canada',
 1, 500.00, 500.00),

(14, '2024-02-14', 110, 'Jack Wilson', 'jack@example.com',
 211, 'External Hard Drive', 'Accessories',
 302, 'Europe', 'UK',
 2, 150.00, 300.00),

(15, '2024-02-15', 101, 'Alice Johnson', 'alice@example.com',
 203, 'Tablet', 'Electronics',
 301, 'North America', 'USA',
 1, 300.00, 300.00);

num_affected_rows,num_inserted_rows
5,5

In [0]:
SELECT * FROM sales.Orders

OrderID,OrderDate,CustomerID,CustomerName,CustomerEmail,ProductID,ProductName,ProductCategory,RegionID,RegionName,Country,Quantity,UnitPrice,TotalAmount
1,2024-02-01,101,Alice Johnson,alice@example.com,201,Laptop,Electronics,301,North America,USA,2,800.00,1600.00
2,2024-02-02,102,Bob Smith,bob@example.com,202,Smartphone,Electronics,302,Europe,Germany,1,500.00,500.00
3,2024-02-03,103,Charlie Brown,charlie@example.com,203,Tablet,Electronics,303,Asia,India,3,300.00,900.00
4,2024-02-04,101,Alice Johnson,alice@example.com,204,Headphones,Accessories,301,North America,USA,1,150.00,150.00
5,2024-02-05,104,David Lee,david@example.com,205,Gaming Console,Electronics,302,Europe,France,1,400.00,400.00
6,2024-02-06,102,Bob Smith,bob@example.com,206,Smartwatch,Electronics,303,Asia,Japan,2,250.00,500.00
7,2024-02-07,105,Emma Wilson,emma@example.com,207,Keyboard,Accessories,301,North America,Canada,2,120.00,240.00
8,2024-02-08,106,Frank Miller,frank@example.com,208,Monitor,Electronics,302,Europe,UK,1,300.00,300.00
9,2024-02-09,107,Grace Taylor,grace@example.com,209,Mouse,Accessories,303,Asia,Singapore,3,80.00,240.00
10,2024-02-10,108,Henry Adams,henry@example.com,210,Printer,Electronics,301,North America,USA,1,350.00,350.00
11,2024-02-11,108,Hannah Green,hannah@example.com,210,Wireless Earbuds,Accessories,302,Europe,Spain,2,120.00,240.00
12,2024-02-12,109,Ian Black,ian@example.com,201,Laptop,Electronics,303,Asia,India,1,800.00,800.00
13,2024-02-13,105,Eve Adams,eve@example.com,202,Smartphone,Electronics,301,North America,Canada,1,500.00,500.00
14,2024-02-14,110,Jack Wilson,jack@example.com,211,External Hard Drive,Accessories,302,Europe,UK,2,150.00,300.00
15,2024-02-15,101,Alice Johnson,alice@example.com,203,Tablet,Electronics,301,North America,USA,1,300.00,300.00

# DATA WAREHOUSING

In [0]:
CREATE DATABASE salesDWH

### STAGING

In [0]:
-- initial load 

CREATE OR REPLACE TABLE salesDWH.stg_sales
AS
SELECT * FROM sales.Orders
WHERE OrderDate > '2024-02-10'

# TRANSFORMATION

In [0]:
CREATE VIEW salesDWH.trans_sales
AS
SELECT * FROM salesDWH.stg_sales WHERE Quantity IS NOT NULL

# CORE LAYER

In [0]:
CREATE OR REPLACE TABLE salesDWH.core_sales (
    OrderID INT PRIMARY KEY,
    OrderDate DATE,
    CustomerID INT,
    CustomerName VARCHAR(100),
    CustomerEmail VARCHAR(100),
    ProductID INT,
    ProductName VARCHAR(100),
    ProductCategory VARCHAR(50),
    RegionID INT,
    RegionName VARCHAR(50),
    Country VARCHAR(50),
    Quantity INT,
    UnitPrice DECIMAL(10,2),
    TotalAmount DECIMAL(12,2)
);

In [0]:
INSERT INTO salesDWH.core_sales
SELECT * FROM salesDWH.trans_sales;

# DATA WAREHOUSE CORE LAYER

In [0]:
SELECT * FROM salesDWH.core_sales;

OrderID,OrderDate,CustomerID,CustomerName,CustomerEmail,ProductID,ProductName,ProductCategory,RegionID,RegionName,Country,Quantity,UnitPrice,TotalAmount
1,2024-02-01,101,Alice Johnson,alice@example.com,201,Laptop,Electronics,301,North America,USA,2,800.00,1600.00
2,2024-02-02,102,Bob Smith,bob@example.com,202,Smartphone,Electronics,302,Europe,Germany,1,500.00,500.00
3,2024-02-03,103,Charlie Brown,charlie@example.com,203,Tablet,Electronics,303,Asia,India,3,300.00,900.00
4,2024-02-04,101,Alice Johnson,alice@example.com,204,Headphones,Accessories,301,North America,USA,1,150.00,150.00
5,2024-02-05,104,David Lee,david@example.com,205,Gaming Console,Electronics,302,Europe,France,1,400.00,400.00
6,2024-02-06,102,Bob Smith,bob@example.com,206,Smartwatch,Electronics,303,Asia,Japan,2,250.00,500.00
7,2024-02-07,105,Emma Wilson,emma@example.com,207,Keyboard,Accessories,301,North America,Canada,2,120.00,240.00
8,2024-02-08,106,Frank Miller,frank@example.com,208,Monitor,Electronics,302,Europe,UK,1,300.00,300.00
9,2024-02-09,107,Grace Taylor,grace@example.com,209,Mouse,Accessories,303,Asia,Singapore,3,80.00,240.00
10,2024-02-10,108,Henry Adams,henry@example.com,210,Printer,Electronics,301,North America,USA,1,350.00,350.00